.add-cell-wrapper {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  margin: 8px 0;

  .divider {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 50%;
    bottom: 50%;
    border-bottom: 1px solid grey;
    z-index: -1;
  }

  .add-buttons {
    display: flex;
    justify-content: center;

    button {
      margin: 0 20px;
    }
  }

  &:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.2s;
  }

  &.force-visible {
    opacity: 1;
  }
}
